---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me"

---

<BaseLayout pageTitle={pageTitle}>
    <div class="p-6 md:p-0 gap-4 space-y-4">
        <p>Welcome to my world of car and truck revitalization! My name is Jason, and I have a deep-rooted passion for bringing old cars back to life—especially Fords. Growing up in a family that worked for Ford Motor Company, I was surrounded by the legacy of craftsmanship, innovation, and the timeless beauty of classic automobiles.</p>

        <p>Now, I’m taking that heritage and turning it into a hands-on journey of restoring and revitalizing a mix of vehicles. Whether it’s breathing new life into a neglected Mustang, reviving a classic F-Series, or preserving the history of my favorite small truck, the Ranger, I’m dedicated to ensuring these cars get the care and attention they deserve.</p>
            
        <p>I may be just starting out, but my dedication to quality work and my love for automobiles drive me forward. Follow along as I take on new projects, share restoration tips, and bring these classic rides back to the road!</p>
            
        <p>Let’s get these rescues rolling—one rebuild at a time. 🚗🔧</p>
    </div>

</BaseLayout>
