---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPost from "../components/BlogPost.astro"
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true}))
const pageTitle = "The Blog Page"
---
<BaseLayout pageTitle={pageTitle}>
	<p>Thi is where the posts live.</p>
	<ul>
		{allPosts.map((post:any) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
	</ul>
</BaseLayout>