---

---

<div class="bg-base-100 p-4 max-w-3xl mx-auto">
    <h2 class="font-bold text-4xl text-center py-4">The Newsletter</h2>
    <p class="pb-4">Get the latest news on projects and postings. Only the updates and none of the spam.</p>
    <form class="space-y-2">
        <label class="input input-bordered flex items-center gap-2">
            Email
            <input type="text" class="grow" placeholder="you@site.com" />
          </label>
        <button class="btn" type="submit">Join</button>
    </form>
</div>